<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Só Negócio - {{titulo}}</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href={{url_for("index")}}>Só Negócio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link" href={{url_for("index")}}>Página Inicial</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cadastros
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href={{url_for("usuario")}}>Usuário</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href={{url_for("anuncio")}}>Anúncio</a>
                </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Anúncios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href={{url_for("pergunta")}}>Perguntar</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href={{url_for("compra")}}>Comprar</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href={{url_for("favoritos")}}>Favoritos</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Configurações
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href={{url_for("categoria")}}>Categorias</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Relatórios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href={{url_for("relCompras")}}>Compras</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href={{url_for("relVendas")}}>Vendas</a>
                    </div>
                </li>
            </ul>
            </div>
        </nav>

    </header>
    <main>
        <h3>{{titulo}}</h3>
        <form action="caduser" method="post" class="container">
            <div class="form-group">
              <label for="user">Nome de Usuário</label>
              <input type="text" class="form-control" id="user" aria-describedby="emailHelp" placeholder="Seu Nome" name="user">
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Seu E-mail" name="email">
                <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
              </div>
            <div class="form-group">
              <label for="passwd">Senha</label>
              <input type="password" class="form-control" id="passwd" placeholder="Senha" name="passwd">
            </div>
            <p><input type="submit" value="Cadastrar" class="btn btn-primary"></p>
          </form>

    </main>
    <footer>
        <p style="color:white">Todos os direitos reservados © Gabriel Badaró</p>

    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>